## Exercícios

In [3]:
# Exercício 1 - Imprima na tela os números de 1 a 10
lista = [1,2,3,4,5,6,7,8,9,10]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
listaFrutas = ['maca', 'banana', 'laranja', 'uva', 'morango']
print(listaFrutas)

['maca', 'banana', 'laranja', 'uva', 'morango']

In [6]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
nome = 'Leandro '
sobrenome = 'Almeida'
nomecompleto = nome + sobrenome
print(nomecompleto)

Leandro Almeida

In [7]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tup = (1, 2, 2, 3, 4, 4, 4, 5)
tup.count(4)

3

In [8]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dic = {'1':'martelo', '2':'serrote', '3':'prego'}
print(dic)

{'1': 'martelo', '2': 'serrote', '3': 'prego'}

In [9]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela
dic['4'] = 'parafuso'
print(dic)

{'1': 'martelo', '2': 'serrote', '3': 'prego', '4': 'parafuso'}

In [11]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e 
# feche-o.
arq = open('nomes.txt','w')
arq.write('Leandro Lara Natalia Ivone Jaime')
arq.close()

In [12]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
arq = open('nomes.txt','r')
arq.read()

'Leandro Lara Natalia Ivone Jaime'

In [13]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
dic2 = {}
print(dic2)

{}

In [15]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos 
# elementos do dataset.
import pandas as pd
file_name = "binary.csv"
df = pd.read_csv(file_name)
df.tail()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4