## Exercícios

In [2]:
# Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e 
# depois faça uma chamada à função para listar os números
def par():
    for i in range(2, 20, 2):
        print(i)

par()

2
4
6
8
10
12
14
16
18

In [3]:
# Exercício 2 - Crie uam função que receba uma string como argumento e retorne a mesma string em letras maiúsculas.
# Faça uma chamada à função, passando como parâmetro uma string
def maiuscula(palavra):
    return palavra.upper()

maiuscula('leandro')

'LEANDRO'

In [4]:
# Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e 
# imprima a lista
def addElemento(lista):
    lista.append(5)
    lista.append(6)
    
lista1 = [1, 2, 3, 4]
addElemento(lista1)
print(lista1)

[1, 2, 3, 4, 5, 6]

In [5]:
# Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas 
# à função, com apenas 1 elemento e na segunda chamada com 4 elementos
def printElemento(arg1, *elementos):
    print(arg1)
    for i in elementos:
        print(i)
        
printElemento(1)
lista = ["a","b","c"]
printElemento(lista)

1
['a', 'b', 'c']

In [8]:
# Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 
# números como parâmetro e retornar a soma deles
soma = lambda num1, num2: num1 + num2
print("a soma e: ",soma(2, 3))

a soma e:  5

In [9]:
# Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local
total = 0; 
def soma( arg1, arg2 ):
    total = arg1 + arg2; 
    print ("Dentro da função o total é : ", total)
    return total;


soma( 10, 20 );
print ("Fora da função o total é : ", total)

Dentro da função o total é :  30
Fora da função o total é :  0

In [11]:
# Exercício 7 - Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo 
# do arquivo. Dica, use Pandas e um de seus métodos, describe()
# Arquivo: "binary.csv"
import pandas as pd
file_name = 'binary.csv'

def resEstatistico(file_name):
    df = pd.read_csv(file_name)
    return df.describe()

resEstatistico(file_name)

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000